@import "../../../index";

.popular-dishes {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    color: #706E6E;

    @media (max-width: $mobile) {
      display: none;
    }

    @media (max-width: $mobile-portrait) {
      padding: 50px;
    }

    &__button {
      margin: 80px auto 0;
    }

    &__menu {
      width: 100%;
      padding-top: 50px;
      position: relative;

      @media (max-width: $desktop) {
        padding-top: 25px;
      }

      @media (max-width: $mobile) {
        padding-top: 10px;
      }

      & .fork{
        width: 119px;
        height: 100%;
        background: url(../popular-dishes/dish/images/fork.png) no-repeat bottom center;
        background-size: contain;
        position: absolute;
        bottom: -20px;
        left: -65px;
        z-index: 1;
  
        @media (max-width: $desktop) {
          display: none;
        }
      }
      & .knife{
        width: 119px;
        height: 100%;
        background: url(../popular-dishes/dish/images/knife.png) no-repeat bottom center;
        background-size: contain;
        position: absolute;
        bottom: -20px;
        right: -65px;
        z-index: 1;
  
        @media (max-width: $desktop) {
          display: none;
        }
      }
    }

    & .button {
      border: 2px solid #F8AB11;
    }
  }