@import "../../../index";

.banner {
  width: 100%;
  height: 100vh;
  

  @media (max-width: $desktop) {
    height: fit-content;
  }
  
  &__wrap {
    width: 100%;
    height: 100%;
    background: linear-gradient(#09090940, #09090940), url(../banner/banner.png) no-repeat top center;
    background-size: cover;
    border-bottom-left-radius: 35%;
    border-bottom-right-radius: 35%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (max-width: $desktop) {
      border-bottom-left-radius: 20%;
      border-bottom-right-radius: 20%;
      padding-top: 100px;
    }

    @media (max-width: $mobile) {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    z-index: 10;
  }

  &__title {
    padding-top: 100px;
  }

  &__buttons {
    width: 945px;
    max-width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 40px 0;

    @media (max-width: $mobile) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      height: 220px;
    }
  }

  & .button:hover, & .button:active {
    background: linear-gradient(#F8AB11, #7b560a);
    border: none;
    color: #fff;
  }
}